@charset "utf-8";
@keyframes flip {
	from {transform: rotateY(180deg);}
	to {transform: rotateY(0deg);}
}

.flip-container {
	perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container.flip .flipper {
	animation: flip .6s linear;
}

/* flip speed goes here */
.flipper {
	transform-style: preserve-3d;
	padding-bottom: 100%;
}

/* hide back of pane during swap */
.front, .back {
	position: absolute;
	backface-visibility: hidden;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}