@charset "utf-8";
.centered {
    position: relative;
    margin: auto;
    top: 0;
    max-height: 100vh;
    display: block;
    z-index: 4;
    height: 100vh;
    text-align: center;
}
.cover {
    position: relative;
    margin: auto;
    width: 40vmin;
    padding-top: 15vmin;
}
.cover img {
    width: 100%;
    margin: auto;
}
.cover_img img{
    border-radius: 10%;
    border: 3px solid #E0E0E0;
    -webkit-box-shadow: 2px 4px 20px 3px #3C3C3C;
    box-shadow: 2px 4px 20px 3px #3C3C3C;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cover #paused {
    position: absolute;
    z-index: 5;
    width: 50%;
    transform: translate(-50%, 50%);
    opacity: 0.8;
    visibility: visible;
}
.cover #paused.absolute {
	position: absolute;
	width: 50vmin;
	height: auto;
	transform: translateX(-50%);
	z-index: 55;
	opacity: .4;
}
.song_information {
    position: relative;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    color: #FFFFFF;
    font-size: 5vmin;
    text-shadow: 0px 0px 12px #000000;
    display: inline-block;
    padding-top: 8vmin;
	word-break: keep-all;
	width: 75%;
}
.song_information p {
    margin: 0px;
}
.song_name {
    font-size: 170%;
}
.artist_name {
    color: #C0C0C0;
}