@charset "utf-8";
* {
	font-family: europa, sans-serif;
	color: #FFFFFF;
	font-size: .6vmax;
}
#viewport {
	top: 0;
	left: 0;
	position: fixed;
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
}
#top-container {
	flex-grow: 1;
	display: flex;
	background-image: linear-gradient(to bottom, rgb(42, 63, 110), rgb(4, 6, 11) 85%);
}
#menu_left {
	width: 12vmax;
	background-color: rgba(0,0,0,0.50);
}
#menu_left_navbar {
	position: relative;
	margin: auto;
	top: 50%;
	transform: translateY(-50%);
	width: 10vmax;
	height: 95%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#menu_left .group {
	border-top: .07vmax solid #3a3a3a;
	padding-top: .4vmax;
}
#menu_space_padder {
	flex-grow: 1;
}
#navbar_navigator * {
	color: #A0A0A0;
	margin-bottom: .6vmax;
	font-size: 120%;
	font-weight: bolder;
}
#navbar_navigator *:hover {
	cursor: pointer;
}
#navbar_navigator *:not(.active):hover {
	color: #FFFFFF
}
#navbar_navigator > .active {
	color: #7289DA;
}
#user_information {
	display: flex;
	flex-direction: row;
	align-items: center;
}
#user_avatar {
	height: 2vmax;
	width: 2vmax;
	margin-right: .8vmax;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
}
#user_name {
	color: #A0A0A0;
	font-size: 110%;
	font-weight: bold;
}
#main_content_container {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.scrollable_flex {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	height: 0;
	width: 100%;
	overflow-y: auto;
	align-items: center;
}
.slider_bar_hover_target:hover {
	cursor: pointer;
}
.slider_bar_hover_target:hover .filled {
	background-color: #7289DA;
}
.slider_bar_hover_target:hover .knob {
	transform: translate(-50%, -25%) scale(1);
}
.slider_bar {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
}
.slider_bar_hover_target {
	width: 90%;
	height: .7vmax;
}
.slider_bar, .slider_bar > .filled {
	width: 100%;
	height: .225vmax;
	border-radius: .1125vmax;
	background-color: #404040;
}
.slider_bar > .filled {
	z-index: 34;
	background-color:#FFFFFF;
	transition: background-color .1s cubic-bezier(.3,0,.7,1);
}
.slider_bar > .knob {
	position: relative;
	z-index: 100;
	transform: translate(-50%, -25%) scale(0);
	width: .5vmax;
	height: .5vmax;
	border-radius: 50%;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.50);
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.50);
	transition: transform .1s cubic-bezier(.3,0,.7,1),-webkit-transform .1s cubic-bezier(.3,0,.7,1);
}
#player {
	z-index: 100;
	height: 4.75vmax;
	background-color: #282828;
}
#player_container {
	height: 100%;
	margin: auto .7125%;
	display: flex;
	align-content: center;
	align-items: center;
	
}
#player_left {
	width: 30%;
	position: absolute;
}
#player_center {
	left: 50%;
	transform: translateX(-50%);
	width: 40%;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}
#player_right {
	right: 0;
	width: 30%;
	position: absolute;
}
#song_information {
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	height: auto;
	position: absolute;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}
#song_information > * {
	margin-right: 3%;
}
#song_information div {
	font-size: .8vmax;
	margin: .5vmax inherit;
}
#cover_image {
	background-size: cover;
	height: 3vmax;
	width: 3vmax;
	box-shadow: 0 0 .5vmax rgba(0,0,0,.3);
}
div#song_artist {
	color: #A0A0A0;
	font-size: 70%;
}
#player_control_buttons {
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: .55vmax;
}
#button_revert, #button_skip, #button_play_pause {
	height: .7vmax;
	width: .7vmax;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	transition: all 50ms cubic-bezier(.3,0,.7,1);
}
#button_revert:hover, #button_skip:hover, #button_play_pause:hover {
	cursor: pointer;
	filter: brightness(500%);
}
#button_play_pause {
	height: 1.8vmax;
	width: 1.8vmax;
	background-image: url("../images/icons/Play.png");
}
#button_play_pause.paused {
	background-image: url("../images/icons/Pause.png");
}
#button_play_pause:hover {
	transform: scale(1.1);
}
#button_revert {
	background-image: url("../images/icons/Revert.png");
}
#button_skip {
	background-image: url("../images/icons/Skip.png");
}
#player_progress_bar {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#player_progress_bar_progress, #player_progress_bar_duration {
	font-family: droid-sans-mono, monospace;
	color: #A0A0A0;
}
#volume_control {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 35%;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: space-around;
}
#volume_bar {
	width: 80%;
}
#speaker_symbol {
	width: 1.5vmax;
	height: 1vmax;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#speaker_symbol.icon-3 {
	background-image: url("../images/icons/Volume 3.png")
}
#speaker_symbol.icon-2 {
	background-image: url("../images/icons/Volume 2.png")
}
#speaker_symbol.icon-1 {
	background-image: url("../images/icons/Volume 1.png")
}
#speaker_symbol.icon-0 {
	background-image: url("../images/icons/Volume Muted.png")
}
#speaker_symbol:hover {
	cursor: pointer;
	filter: brightness(500%);
}