@charset "utf-8";
#register_screen_window {
  position: relative;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 100%;
}

#register_screen_title {
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
  padding-left: 2vmin;
  padding-top: 2vmin;
  color: #7289DA;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.5vmax;
  cursor: default;
  text-shadow: .15vmax 0px .1vmax rgba(114, 137, 218, 0.15);
  font-family: "Roboto", sans-serif;
}

#register_screen_token_group {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 0px;
  right: 0px;
  transform: translateY(-50%);
  line-height: 1;
}

#register_screen_token {
  color: #FFFFFF;
  font-size: 25vmin;
  text-transform: uppercase;
  margin: 0px;
  text-shadow: 0.1em 0.1em 0.4em #000000;
  cursor: pointer;
}

#register_screen_tutorial * {
  display: inline-block;
  color: #A0A0A0;
  font-size: 2.8vmin;
  text-shadow: 0.1em 0.1em 0.3em #000000;
}

#register_screen_selectable {
  cursor: pointer;
}

@media (orientation: portrait) {
  #register_screen_tutorial {
    padding-top: 5vmin;
  }
  #register_screen_tutorial * {
    padding: 0px;
    margin: 0px;
    font-size: 5vmin;
  }
}
