@charset "utf-8";
.entry {
  padding: .3vmax;
  display: flex;
  width: 70vmax;
  height: 2.75vmax;
  justify-content: space-between;
  align-items: stretch;
  transition: background-color .2s linear;
}

.entry .outer {
  width: 2vmax;
}

.entry:hover {
  background-color: rgba(0, 0, 0, .3);
}

.entry>* {
  margin: 0 .3vmax;
}

.entry * {
  font-size: 1vmax;
  color: hsla(0, 0%, 100%, .5);
  cursor: default;
}

.entry .index::after {
  content: ".";
}

.entry .name {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FFFFFF;
}

.entry .name .title {
  color: #FFFFFF;
}

.entry .name .origin {
  display: flex;
}

.entry .name .origin * {
  font-size: 80%;
}

.entry .name .origin .seperator {
  display: inline-block;
  margin: 0 .5vmax;
}

.entry .duration {
  font-family: "droid-sans-mono", monospace;
}
