@charset "utf-8";
.entry {
  padding: .3vmax;
  display: flex;
  width: 70vmax;
  height: 3vmax;
  justify-content: space-between;
  align-items: stretch;
  transition: background-color .2s linear;
}

.entry .outer {
  width: 2vmax;
}

.entry:hover {
  background-color: rgba(0, 0, 0, .3);
}

.entry>* {
  margin: 0 .3vmax;
}

.entry * {
  font-size: .825vmax;
  color: hsla(0, 0%, 100%, .5);
  cursor: default;
}

.entry .play {
  display: none;
}

.entry.clickable:hover .play {
  display: block;
}

.entry.clickable:hover .index {
  display: none;
}

.entry .index::after {
  content: ".";
}

.entry .play::after {
  color: white;
  content: "▶";
}

.entry .name {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FFFFFF;
}

.entry .name .title {
  color: #FFFFFF;
}

.entry .name .origin {
  display: flex;
}

.entry .name .origin * {
  font-size: 80%;
}

.entry .name .origin .seperator {
  display: inline-block;
  margin: 0 .5vmax;
}

.entry .special_container {
  width: 3%;
  height: 40%;
  padding-top: .5vmax;
  margin-right: 3%;
  cursor: pointer;
}

.entry .special {
  height: 35%;
  visibility: hidden;
  background-image: url("../../images/icons/special.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.entry:hover .special {
  visibility: visible;
}

.entry .special_container:hover .special {
  transform: scale(1.05);
}

.entry .special_container:active .special {
  transform: scale(.95);
}

.entry .duration {
  font-family: "droid-sans-mono", monospace;
}
