@charset "utf-8";
#playlist_display {
  margin-top: 1vmax;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  flex-grow: 1;
}

.playlist {
  margin: 2vmax .5vmax;
  cursor: pointer;
}

.playlist .hover_target {
  width: 10vmax;
  height: 10vmax;
  padding-bottom: .5vmax;
}

.playlist:hover .cover {
  filter: brightness(.4);
  transition: .4s;
}

.playlist:active .cover {
  transform: scale3d(.93, .93, 1);
  transition: .2s;
}

.playlist .cover {
  position: absolute;
  width: inherit;
  height: inherit;
  background-size: cover;
  box-shadow: 0 0 .6vmax rgba(0, 0, 0, .3);
}

.playlist .play_button {
  display: none;
  z-index: 50;
  position: relative;
  width: 4vmax;
  height: 4vmax;
  left: 50%;
  top: 50%;
  background-image: url("../../images/icons/Play.png");
  background-size: contain;
  background-position: center;
  background-color: transparent;
  transform: translate(-50%, -50%) scale(.8);
  border: 0;
  transition: all .3s cubic-bezier(0, 0, 0, 2.41);
  cursor: pointer;
}

.playlist .play_button:hover {
  transform: translate(-50%, -50%) scale(1);
}

.playlist .hover_target:hover .play_button {
  display: block;
}

.playlist .name .title {
  font-size: 1vmax;
  color: #FFFFFF;
}

.playlist .name * {
  text-align: center;
  font-weight: 600;
  font-size: .6vmax;
  color: #A0A0A0;
}

.centered {
  margin: auto;
  top: 0;
  max-height: 100vh;
  display: block;
  z-index: 4;
  height: 100vh;
  text-align: center;
}

#focused_display {
  margin-top: 5vmin;
  display: flex;
  width: 70%;
}

#focused_display .right {
  flex-grow: 1;
}

#playlist_entries .entry {
  width: auto;
}

#playlist_entries .entry * {
  font-size: .7vmax;
}

#focused_display .left {
  margin-right: 3vmax;
  width: 15vmax;
}

#focused_display .left .playlist {
  margin: auto 0;
}

#focused_display .left .playlist .hover_target {
  width: 12vmax;
  height: 12vmax;
}

#focused_display .centered {
  height: auto;
}

#focused_display .centered * {
  margin-bottom: 1vmin;
  color: hsla(0, 0%, 100%, .5);
  font-size: .54vmax;
}

#focused_display .centered #playlist_title {
  color: #FFFFFF;
  font-weight: 800;
  font-size: 1.3vmax;
  margin-bottom: .1vmin;
  margin-top: 1vmin;
}

#focused_display .centered #playlist_author {
  color: #999999;
  font-weight: 300;
  font-size: .6vmax;
  margin-bottom: 1.5vmax;
}

#focused_display .centered #playlist_description {
  margin-bottom: 1.5vmax;
  width: 12.5vmax;
  margin-left: auto;
  margin-right: auto;
  font-weight: 100;
  line-height: 1em;
}

#focused_display .centered #playlist_description code {
  background-color: rgba(0, 0, 0, 0.33);
  padding: .1em;
}

#focused_display .centered #playlist_entry_amount {
  text-transform: uppercase;
}

#focused_display .centered #playlist_playtime {
  font-family: "droid-sans-mono", monospace;
  margin-left: .2vmax;
}

#focused_display .centered #playlist_load_button {
  background-color: #7289DA;
  width: 5vmax;
  height: 1.6vmax;
  color: #FFFFFF;
  border-radius: 2.5vmin;
  line-height: 1.6vmax;
  font-weight: 900;
  font-size: .55vmax;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vmin;
  letter-spacing: .1vmax;
  cursor: pointer;
}
