@charset "utf-8";
#content_selector {
  margin-top: 3vmax;
  width: 20vmax;
  display: flex;
  justify-content: space-between;
  padding-bottom: 3.5vmax;
}

#content_selector * {
  text-transform: uppercase;
  letter-spacing: .08vmax;
  color: hsla(0, 0%, 100%, .65);
  font-weight: 900;
  font-size: .8vmax;
  transition: color .2s;
}

#content_selector *:hover {
  cursor: pointer;
  color: #FFFFFF;
}

#content_selector .selected {
  color: #FFFFFF;
}

#content_selector .selected::after {
  content: "";
  margin: 0 auto;
  display: block;
  width: 2vmax;
  height: .1vmax;
  background-color: #7289DA;
}

#lyrics_display * {
  font-size: .85vmax;
  color: rgba(255, 255, 255, .75);
}

#lyrics_display .text {
  text-align: center;
  white-space: pre-wrap;
  width: 30vmax;
}

#lyrics_display .text.info {
  font-size: 1.3vmax;
  margin-top: 5vmax;
}

#lyrics_display .text h2 {
  margin-bottom: 0;
  font-weight: 900;
  color: rgba(255, 255, 255, .925);
}

#lyrics_display .source {
  display: block;
  margin-top: 5vmax;
  margin-bottom: 2vmax;
  font-size: .65vmax;
  color: #7289DA;
  text-decoration: none;
  font-weight: 600;
  text-align: right;
}

#lyrics_display .title {
  display: block;
  margin-bottom: 2vmax;
  font-size: 1.3vmax;
  color: #7289DA;
  font-weight: 900;
  text-align: center;
}
